
  .profile{
    height: 110%;
    padding-bottom: 36px;
  }
  
  
  
  .profile .profileHeadImg {
    border-radius: 0 10px 0 0;
    display: block;
    height: 360px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: url("./img/profile-header-pic.jpg") center center /cover no-repeat;
    /* background-attachment: fixed; */
    
  }