.usersBlock{
    padding: 40px 200px 50px 60px;
    position: relative;
}
.userItem{
    padding: 12px 0;
    display: flex;
    flex-grow:  1 1 2;
    /* justify-content: space-between; */
    align-items: center;
    
}

.userItemAvatar{
    

    
    
    /* background: #2d3436; */
}
.userItemAvatar img{
    width: 84px;
    height: 84px;
    border-radius: 50%;
    object-fit: cover;
    /* object-position: 0% 0%; */   
}
.userItemDescr{
    width: 100%;
   
    /* display: flex; */
    
    margin-left: 2em;
}
.userItemName{
    font-weight: 700;
    
}
.userItemStatus{
    
    word-break: break-all;
}
.userItemBtn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

