/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.app-wrapper{
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60 px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 2px;
  width: 1200px;
  margin: 0 auto;
}

.app-wrapper-content{
  grid-area: c;
  background-color: rgb(204, 204, 204);
  border-radius: 0 10px 10px 0;
  height: 100%;
  width: 100%;
}

